{% for var in in_stock_variations %}
<div class="product-detail-variation-row"{% if var.slika %} data-image="{{ var.slika.url }}"{% endif %}>
    <span class="product-detail-variation-name">{{ var.naziv }}</span>
    <span class="product-detail-variation-price product-price--detail">
        {% include 'partials/product_price.html' with item=var %}
    </span>
    <form method="post" action="{% url 'add_to_cart' product.slug %}" class="product-detail-variation-form">
        {% csrf_token %}
        <input type="hidden" name="variation_id" value="{{ var.pk }}">
        {% include 'partials/product_qty_selector.html' %}
        <button type="submit" class="btn btn-detail-variation-add"
                data-product-id="{{ product.pk }}"
                data-product-name="{{ product.naziv }}"
                data-almost-cart>Dodaj u korpu</button>
    </form>
</div>
{% endfor %}