<fieldset class="sc-papir">
    <legend class="sc-label">Papir / štampač</legend>
    <div class="sc-papir-opts">
        <label class="sc-papir-opt">
            <input type="radio" name="papir" value="a4" checked>
            <span>
                <strong>A4</strong>
                <em>4 × 7 na listu</em>
            </span>
        </label>
        <label class="sc-papir-opt">
            <input type="radio" name="papir" value="zebra">
            <span>
                <strong>Zebra</strong>
                <em>3,559" × 1,224" · gaps</em>
            </span>
        </label>
    </div>
</fieldset>
