{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | opremazaribolov.ba Admin{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/ozr_admin.css' %}?v=20260830flashAdmin">
{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">
        {% if site_settings.logo %}
        <img class="admin-store-logo" src="{{ site_settings.logo.url }}" alt="opremazaribolov.ba" width="245" height="66">
        {% else %}
        <span class="admin-store-name">opremazaribolov.ba</span>
        {% endif %}
        <span class="admin-store-label">Admin panel</span>
    </a>
</div>
{% if user.is_anonymous %}
{% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block responsive %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/storefront-admin.v20260916.css' %}?v=black-text-3">
<script src="{% static 'admin/js/retro-admin.v20260908.js' %}" defer></script>
{% endblock %}

{% block footer %}{{ block.super }}{% include "partials/permanent_input_history.html" %}{% endblock %}
